#flexCase {
    display: flex;
    justify-content: center;
}
#loginCase {
    width:300px;
    height:600px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#registerCase {
    width:300px;
    height:600px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 0 10px 0 10.px;
    font-weight: bold;
    letter-spacing: 4px;
}