#flexCase {
    display: flex;
    justify-content: center;
}
#loginCase {
    width:300px;
    height:600px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#registerCase {
    width:300px;
    height:600px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0 auto;
}